@import '../form';

header {

    h1 {
        left: 50vw;
        top: 20vh;
        transform: translate(-50%, -50%);
    }

}

main{
    &.form_main {
        section {
            &.form_section {
                form {
                    right: 0;
                    left: 50vw;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

@media screen and ( max-width: 700px ) {
    header {
        h1 {
            &::before{ bottom: 0; }
        }
    }
}