@import '../_base';


#contenter {

    width: 100vw;
    height: 100vh;
    display: flex;
    --nav_wdith: clamp(120px, 30%, 200px);

    nav {

        width: var(--nav_wdith);
        background-color: #0a5da1;
        height: 100vh;
        z-index: 1;
        h3 {
            color: #fff;
            text-align: center;
            margin: 0;
            margin-top: 1rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid #3b97e2;
            user-select: none;
            font-size: 2vh;
        }

        #admin_info {
            padding: 1.5rem 0 1.5rem 4.5rem;
            background-color: #ffffff;
            font-weight: bolder;
            color: #0a5da1;
            user-select: none;
            span { font-size: 1.2rem; }
            &::before{
                content: '';
                width: 40px;
                height: 40px;
                background-color: #bad3f3;
                left: 1rem;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><path style="fill:rgb(10, 93, 161);" d="M2.44,60.99c1.66-2,3.34-3.99,5.24-5.79c6.79-6.4,14.74-10.61,23.94-12.12c17.03-2.8,31.48,2.28,43.32,14.82c0.92,0.98,1.75,2.05,2.62,3.08c-0.71,1.38-1.78,2.5-2.81,3.62C67.4,72.64,58.4,77.84,47.65,79.4C29.4,82.04,14.42,75.97,2.81,61.64C2.65,61.45,2.45,61.27,2.44,60.99z"/><path style="fill:rgb(10, 93, 161);" d="M39.96,36.25c-9.99-0.02-18.09-8.16-18.07-18.18C21.9,8.08,30.04-0.01,40.06,0c9.98,0.01,18.09,8.17,18.07,18.18C58.12,28.17,49.97,36.27,39.96,36.25z"/></svg>');
                background-repeat: no-repeat;
                background-size: 80%;
                background-position: center bottom;
                border: 1px solid #ccc;
            }
        }

        ul {
            li {
                width: 100%;
                padding: 1.5rem 0 1.5rem;
                color: #fff;
                border-bottom: 1px solid #3b97e2;
                padding-left: clamp(3rem, 30%, 4rem);
                cursor: pointer;
                &:hover {
                    background-color: #3b97e2;
                }
                &::before{
                    content: '';
                    width: 25px;
                    height: 25px;
                    left: clamp(0.7rem, 10%, 1.75rem);
                    top: 50%;
                    transform: translateY(-50%);
                }
                &#user_manage {
                    &::before{
                        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><path style="fill:rgb(255,255,255);" d="M2.44,60.99c1.66-2,3.34-3.99,5.24-5.79c6.79-6.4,14.74-10.61,23.94-12.12c17.03-2.8,31.48,2.28,43.32,14.82c0.92,0.98,1.75,2.05,2.62,3.08c-0.71,1.38-1.78,2.5-2.81,3.62C67.4,72.64,58.4,77.84,47.65,79.4C29.4,82.04,14.42,75.97,2.81,61.64C2.65,61.45,2.45,61.27,2.44,60.99z"/><path style="fill:rgb(255,255,255);" d="M39.96,36.25c-9.99-0.02-18.09-8.16-18.07-18.18C21.9,8.08,30.04-0.01,40.06,0c9.98,0.01,18.09,8.17,18.07,18.18C58.12,28.17,49.97,36.27,39.96,36.25z"/></svg>');
                        background-repeat: no-repeat;
                        background-size: 80%;
                        background-position: center;
                    }
                }
                &#mes_manage {
                    &::before {
                        background-image: url('../../img/mes.svg');
                        background-repeat: no-repeat;
                        background-size: 80%;
                        background-position: center;
                    }
                }
                &#admin_manage {
                    &::before {
                        background-image: url('../../img/admin.svg');
                        background-repeat: no-repeat;
                        background-size: 80%;
                        background-position: center;
                    }
                }
            }
        }

        #lognout_btn {
            width: 100%;
            padding: 1.5rem;
            padding-left: 3.5rem;
            color: #fff;
            border-top: 1px solid #3b97e2;
            border-bottom: 1px solid #3b97e2;
            position: absolute;
            bottom: 53px;
            cursor: pointer;
            &:hover {
                background-color: #3b97e2;
            }
            &::before{
                content: '';
                width: 30px;
                height: 30px;
                left: 1rem;
                top: 50%;
                transform: translateY(-50%);
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path style="fill: rgb(255,255,255)" d="M64,32.5c-0.5,0.7-0.8,1.4-1.4,2c-5,5-10.1,10-15.2,15c-1.6,1.6-3.3,1.2-4.1,0.3c-0.9-0.9-1.2-2.6,0.4-4.1c3.6-3.4,7.1-7,10.6-10.4c0.2-0.2,0.4-0.2,0.6-0.3c-0.1-0.1-0.1-0.2-0.2-0.3c-0.2,0-0.5,0-0.7,0c-9.9,0-19.8,0-29.7,0c-1.6,0-2.7-0.8-2.9-2.1c-0.3-1.5,0.8-3,2.4-3.1c0.3,0,0.6,0,0.9,0c9.8,0,19.6,0,29.4,0c0.2,0,0.5,0,0.9,0c-0.3-0.3-0.4-0.4-0.6-0.6c-3.6-3.5-7.1-7-10.7-10.5c-0.8-0.8-1.2-1.6-1-2.7c0.4-1.9,2.6-2.7,4.2-1.5c0.2,0.2,0.4,0.4,0.6,0.5c5.2,5.1,10.3,10.2,15.5,15.3c0.5,0.5,0.8,1.1,1.1,1.6C64,31.7,64,32.1,64,32.5z"/><path style="fill: rgb(255,255,255)" d="M5.3,32c0,7.8,0,15.6,0,23.4c0,0.7,0.1,1.5,0.5,2.1c0.6,0.8,1.5,1.1,2.5,1.1c7.6,0,15.2,0,22.8,0c0.3,0,0.6,0,0.9,0c1.4,0.1,2.5,1.2,2.4,2.7c0,1.4-1.1,2.5-2.5,2.6c-0.6,0-1.2,0-1.8,0c-7.4,0-14.7,0-22.1,0c-4,0-7.1-2.5-8-6.3C0.1,57,0,56.3,0,55.7C0,39.9,0,24.1,0,8.3c0-4.7,3.4-8.2,8.2-8.2c7.8,0,15.7,0,23.5,0c1.2,0,2.1,0.5,2.6,1.6c0.4,1,0.3,2-0.4,2.8c-0.4,0.5-1,0.8-1.7,0.9c-0.3,0-0.6,0-0.9,0c-7.6,0-15.1,0-22.7,0c-0.4,0-0.8,0-1.1,0.1C6.3,5.7,5.5,6.6,5.4,7.7c0,0.3,0,0.7,0,1C5.3,16.5,5.3,24.2,5.3,32z"/></svg>');
                background-repeat: no-repeat;
                background-size: 80%;
                background-position: center;
            }
        }
    }

    main {
        height: 100vh;
        width: calc( 100% - var(--nav_wdith) );
        padding-bottom: 53px;
        overflow-x: hidden;
        overflow-y: scroll;
        section {
            padding-top: 5rem;
            h2 { font-size:2rem }
            .item_warp {
                max-width: 1200px;
                min-width: 235px;
                width: 100%;
                // background-color: #ccc;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                left: 50%;
                transform: translateX(-50%);
                .item {
                    &.disable_item {
                        background-color: #ddd !important;
                        cursor: not-allowed;
                        &:hover { box-shadow: 0 0 0; }
                        .status {
                            div.switch{
                                background-color: #ccc;
                                div { left: 0;  }     
                            }
                        }
                    }
                    &.freez{
                        background-color: #fffacd ;
                        div{
                            .switch {
                                background-color: #f3b408;
                                div {
                                    left: calc( 100% - 1.5rem );
                                }
                            }
                        }
                        &:hover {
                            box-shadow: 0 0 12px #a1a1a1;
                        }
                    }
                    width: 200px;
                    padding: 2rem;
                    padding-top: 2.5rem;
                    background-color: #fff;
                    margin: 1rem;
                    border-radius: .5rem;
                    border: 1px solid #ccc;
                    transition: box-shadow .4s;
                    &:hover { box-shadow: 0 0 12px #a1a1a1; }
                    .id {
                        position: absolute;
                        top: .5rem;
                        left: 2.25rem;
                        font-weight: bolder;
                    }
                    .head_pic{
                        width: 50px;
                        height: 50px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: #bbfcff;
                        border-radius: 50%;
                        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><path style="fill:rgb(10, 93, 161);" d="M2.44,60.99c1.66-2,3.34-3.99,5.24-5.79c6.79-6.4,14.74-10.61,23.94-12.12c17.03-2.8,31.48,2.28,43.32,14.82c0.92,0.98,1.75,2.05,2.62,3.08c-0.71,1.38-1.78,2.5-2.81,3.62C67.4,72.64,58.4,77.84,47.65,79.4C29.4,82.04,14.42,75.97,2.81,61.64C2.65,61.45,2.45,61.27,2.44,60.99z"/><path style="fill:rgb(10, 93, 161);" d="M39.96,36.25c-9.99-0.02-18.09-8.16-18.07-18.18C21.9,8.08,30.04-0.01,40.06,0c9.98,0.01,18.09,8.17,18.07,18.18C58.12,28.17,49.97,36.27,39.96,36.25z"/></svg>');
                        background-repeat: no-repeat;
                        background-size: 80%;
                        background-position: center bottom;
                        margin-bottom: 1.5rem;
                        & ~ div { 
                            left: 2rem;
                            width: calc( 100% - 2.5rem );
                            margin-top: 10px; 
                            font-weight: bolder;
                            &::before{
                                left: -2.75rem;
                                top: 0;
                                color: #535353;
                                font-weight: 100;
                            }
                            &:focus {
                                border: 1px solid #ccc;
                            }
                        }
                    }
                    .status { 
                        .switch{
                            width: 3rem;
                            height: 1.5rem;
                            border-radius: 0.75rem;
                            background-color: #99afeb;
                            border: 1px solid #777;
                            transition: background-color .4s;
                            cursor: pointer;
                            div{
                                height: 100%;
                                aspect-ratio: 1/1;
                                border-radius: 50%;
                                background-color: #fff;
                                position: absolute;
                                left: calc( 100% - 1.5rem );
                                transition: left .4s;
                            }
                        }
                    }
                    .delete {
                        width: 25px;
                        aspect-ratio: 1 / 1;
                        position: absolute;
                        top: .5rem;
                        right: .5rem;
                        background: url('../../img/delete.svg');
                        cursor: pointer;
                    }

                    &.mesItem{
                        max-width: 360px;
                        width: 85%;
                        min-width: 235px;
                        .head_pic{
                            left: 1.5rem;
                            transform: translateX(0);
                            position: absolute;
                            border: 2px solid #fff;
                            & ~ div {
                                left: 4rem;
                                width: calc( 100% - 4rem );
                            }
                        }
                        .name { &::before{ content: '' !important; } }
                        .mes_content {
                            padding: 1rem;
                            background-color: #eee;
                            border-radius: .5rem;
                        }
                    }

                    &.addItem{
                        padding: 1rem;
                        &#addItem {
                            min-height: 300px;
                            .addItemMes { color: red; }
                            input { 
                                width: 100%; 
                                height: 30px;
                                margin-top: .5rem;
                                padding: 0 .5rem 0 10px;
                                border-radius: .3rem;
                                border: 1px solid #ddd;
                            }
                            &.hideInput{
                                background-color: #ccc;
                                cursor: pointer;
                                & > * { display: none !important; }
                                &::before{
                                    content: '+';
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    font-size: 5rem;
                                    color: #fff;
                                }
                                &:hover { 
                                    box-shadow: 0 0 0; 
                                    background-color: #b2e0fa;
                                }
                            }
                            .head_pic{ display: none; }
                            .addAdminbuttons {
                                width: 100%;
                                left: 0;
                                display: flex;
                                justify-content: center;
                                margin-top: 1rem;
                                #submitAddAdmin, #cancelAddAdmin {
                                    width: 70px;
                                    height: 30px;
                                    border-radius: .2rem;
                                    padding: 1rem;
                                    margin: 0 .5rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: #0a5da1;
                                    color: #fff;
                                    white-space: nowrap;
                                    &#cancelAddAdmin{ background-color: #ccc; color: #000; }
                                }
                            }
                        }
                    }
                }

            }
            &#manage_section{
                .item_warp{
                    .item {
                        .id { &::before { content: 'ID: '; left: -1.5rem;  color: #838383; font-weight: lighter; } }
                        .name { &::before {content: '名字: '; } }
                        .account { &::before {content: '帳號: '; } }
                        .tel { &::before {content: '電話: '; } }
                        .level { &::before {content: '權限: '; } }
                        .status {  &::before {content: '狀態: '; } }
                    }
                }
            }
            & > p.manage_section_mes {

                position: absolute;
                top: 50vh;
                left: 50%;
                transform: translate(-50%, -50%);
        
            }
        }
    }

    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #ccc;
        text-align: center;
        padding: 1rem 0 1rem var(--nav_wdith);
        small { white-space: nowrap; }
    }
    

}

@media screen and ( max-width: 700px ) {
    #contenter{
        nav { 
            z-index: 0; 
            #admin_info {
                padding-left: 0;
                span { 
                    left: clamp(3rem, 45%, 4.5rem);;
                    font-size: 1rem;
                }
                &::before {
                    width: 2rem;
                    height: 2rem;
                    left: clamp(0.7rem, 10%, 1.75rem);
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
        }
        section {
            .item_warp {
                width: 100%;
                .item{
                    max-width: none !important;
                    min-width: none !important;
                    width: 90% !important;
                    &.mesItem {
                        min-width: none;
                        max-width: none;
                        width: 90% !important;
                    }
                }
            }
        }
        footer{
            padding: 1rem 0 1rem 0;
        }
    }
}