main.form_main {
  width: 100vw;
  height: 100vh;
  padding: 0;
}
main section.form_section {
  width: 100%;
  height: 100%;
  padding: 0;
  transition: -webkit-backdrop-filter 0.4s;
  transition: backdrop-filter 0.4s;
  transition: backdrop-filter 0.4s, -webkit-backdrop-filter 0.4s;
}
main section.form_section form {
  position: absolute;
  top: 50%;
  max-width: 500px;
  width: 80%;
  min-width: 350px;
  background-color: #fff;
  transform: translateY(-50%);
  padding: 3rem;
  border-radius: 0.5rem;
  transition: all 0.4s;
}
main section.form_section form h2 {
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
main section.form_section form .form_mes {
  margin-bottom: 3rem;
}
main section.form_section form .form_mes a {
  color: #4562e2;
}
main section.form_section form .form_mes a::before {
  content: "";
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #1d38af;
  transition: width 0.4s;
  bottom: -0.2rem;
}
main section.form_section form .form_mes a:hover {
  color: #1d38af;
}
main section.form_section form .form_mes a:hover::before {
  width: 100%;
}
main section.form_section form .input_warp ~ .input_warp {
  margin-top: 3rem;
}
main section.form_section form .input_warp label {
  position: absolute;
  top: -1.5rem;
  left: 0.5rem;
  background-color: #fff;
  padding: 0 10px;
  transition: top 0.4s;
}
main section.form_section form .input_warp input {
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  width: 100%;
  height: 45px;
  padding: 0 15px;
}
main section.form_section form .input_warp input:focus {
  border: 1px solid #4562e2;
}
main section.form_section form .input_warp input:focus ~ label {
  top: -0.5rem;
}
main section.form_section form .input_warp .input_mes {
  color: red;
}
main section.form_section form button[type=submit] {
  width: 120px;
  height: 40px;
  border-radius: 0.3rem;
  background-color: #4562e2;
  color: #fff;
  margin-top: 2rem;
  left: 100%;
  transform: translateX(-100%);
  transition: background-color 0.4s;
}
main section.form_section form button[type=submit]:hover {
  background-color: #0b27a1;
}

header {
  position: relative;
}
header #DynamicGeomBg {
  filter: blur(20px) contrast(15);
}
header h1 {
  top: 40vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
header .bannerPlayControllor {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
header .bannerPlayControllor button {
  width: 80px;
  height: 40px;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}
header .bannerPlayControllor button::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: invert(80%);
          backdrop-filter: invert(80%);
  border-radius: 0.5rem;
}
header .bannerPlayControllor button#DynamicGeomBg_play {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path style="fill:rgb(255,255,255)" d="M9.8,64c-0.5,0-1,0-1.5,0c-0.1,0-0.2-0.1-0.2-0.1c-1.8-0.3-3-1.3-3.9-2.9c-0.8-1.5-1-3.2-1-4.8c0-16.1,0-32.3,0-48.4c0-1.2,0.2-2.4,0.5-3.5c0.8-2.9,3-4.5,5.8-4.3c1.6,0.1,3,0.7,4.4,1.5C28,9.6,42.1,17.7,56.2,25.9c1,0.6,2,1.3,2.8,2.1c2.3,2.3,2.4,5.2,0.4,7.7c-0.9,1.1-2,1.9-3.2,2.5c-13.4,7.7-26.8,15.4-40.2,23C14,62.4,12.1,63.6,9.8,64z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  -webkit-backdrop-filter: invert(80%);
          backdrop-filter: invert(80%);
}
header .bannerPlayControllor button#DynamicGeomBg_play::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path style="fill:rgb(255,255,255)" d="M9.8,64c-0.5,0-1,0-1.5,0c-0.1,0-0.2-0.1-0.2-0.1c-1.8-0.3-3-1.3-3.9-2.9c-0.8-1.5-1-3.2-1-4.8c0-16.1,0-32.3,0-48.4c0-1.2,0.2-2.4,0.5-3.5c0.8-2.9,3-4.5,5.8-4.3c1.6,0.1,3,0.7,4.4,1.5C28,9.6,42.1,17.7,56.2,25.9c1,0.6,2,1.3,2.8,2.1c2.3,2.3,2.4,5.2,0.4,7.7c-0.9,1.1-2,1.9-3.2,2.5c-13.4,7.7-26.8,15.4-40.2,23C14,62.4,12.1,63.6,9.8,64z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  -webkit-backdrop-filter: invert(80%);
          backdrop-filter: invert(80%);
}
header .bannerPlayControllor button#DynamicGeomBg_stop {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path style="fill:rgb(255,255,255)" d="M43.6,64c-0.4-0.1-0.7-0.2-1.1-0.3c-2.8-0.8-4.8-3.3-5-6.2c0-0.3,0-0.6,0-0.9c0-16.4,0-32.7,0-49.1c0-3,1.2-5.3,3.9-6.7c4.5-2.2,9.7,0.9,10,5.9c0,0.2,0,0.5,0,0.7c0,16.5,0,32.9,0,49.4c0,3.3-1.8,6-4.9,6.9c-0.4,0.1-0.8,0.2-1.3,0.3C44.8,64,44.2,64,43.6,64z"/><path style="fill:rgb(255,255,255)" d="M18.6,64c-0.9-0.3-1.9-0.5-2.7-1c-2.1-1.2-3.2-3.1-3.4-5.6c0-0.2,0-0.4,0-0.6c0-16.5,0-33,0-49.5c0-3.3,1.8-5.9,4.8-6.9c4.3-1.4,8.9,1.7,9.1,6.2c0,0.3,0,0.6,0,0.9c0,16.4,0,32.8,0,49.2c0,2.9-1.1,5.1-3.6,6.5c-0.7,0.4-1.6,0.6-2.4,0.9C19.8,64,19.2,64,18.6,64z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  -webkit-backdrop-filter: invert(80%);
          backdrop-filter: invert(80%);
}
header .bannerPlayControllor button#DynamicGeomBg_stop::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path style="fill:rgb(255,255,255)" d="M43.6,64c-0.4-0.1-0.7-0.2-1.1-0.3c-2.8-0.8-4.8-3.3-5-6.2c0-0.3,0-0.6,0-0.9c0-16.4,0-32.7,0-49.1c0-3,1.2-5.3,3.9-6.7c4.5-2.2,9.7,0.9,10,5.9c0,0.2,0,0.5,0,0.7c0,16.5,0,32.9,0,49.4c0,3.3-1.8,6-4.9,6.9c-0.4,0.1-0.8,0.2-1.3,0.3C44.8,64,44.2,64,43.6,64z"/><path style="fill:rgb(255,255,255)" d="M18.6,64c-0.9-0.3-1.9-0.5-2.7-1c-2.1-1.2-3.2-3.1-3.4-5.6c0-0.2,0-0.4,0-0.6c0-16.5,0-33,0-49.5c0-3.3,1.8-5.9,4.8-6.9c4.3-1.4,8.9,1.7,9.1,6.2c0,0.3,0,0.6,0,0.9c0,16.4,0,32.8,0,49.2c0,2.9-1.1,5.1-3.6,6.5c-0.7,0.4-1.6,0.6-2.4,0.9C19.8,64,19.2,64,18.6,64z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  -webkit-backdrop-filter: invert(80%);
          backdrop-filter: invert(80%);
}

main section#about_tools > div .icon_list > div:nth-child(1) {
  background: center/50% no-repeat url("../../images/nodejs.svg");
}
main section#about_tools > div .icon_list > div:nth-child(2) {
  background: center/50% no-repeat url("../../images/mysql.svg");
}
main section#about_tools > div .icon_list > div:nth-child(3) {
  background: center/50% no-repeat url("../../images/sass.svg");
}
main section#about_tools > div .icon_list > div:nth-child(4) {
  background: center/50% no-repeat url("../../images/javascript.svg");
}
main section#about_tools > div .icon_list > div:nth-child(5) {
  background: center/50% no-repeat url("../../images/html.svg");
}
main section#about_tools > div .icon_list > div:nth-child(6) {
  background: center/50% no-repeat url("../../images/css.svg");
}
main section#about_banner > div .icon_list > div:nth-child(1) {
  background: center/50% no-repeat url("../../images/javascript.svg");
}
main section#about_banner > div .icon_list > div:nth-child(2) {
  background: center/50% no-repeat url("../../images/html.svg");
}
main section#about_banner > div .icon_list > div:nth-child(3) {
  background: center/50% no-repeat url("../../images/css.svg");
}
main section#message_board {
  width: 90%;
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
}
main section#message_board > div {
  width: 100%;
}
main section#message_board > div .message_list {
  width: 100%;
}
main section#message_board > div .message_list .message_item {
  width: 100%;
  padding: 1rem;
  background-color: #ccc;
  display: flex;
  border-radius: 1rem;
}
main section#message_board > div .message_list .message_item ~ .message_item {
  margin-top: 1rem;
}
main section#message_board > div .message_list .message_item .user_head {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><path style="fill:rgb(192, 203, 214);" d="M2.44,60.99c1.66-2,3.34-3.99,5.24-5.79c6.79-6.4,14.74-10.61,23.94-12.12c17.03-2.8,31.48,2.28,43.32,14.82c0.92,0.98,1.75,2.05,2.62,3.08c-0.71,1.38-1.78,2.5-2.81,3.62C67.4,72.64,58.4,77.84,47.65,79.4C29.4,82.04,14.42,75.97,2.81,61.64C2.65,61.45,2.45,61.27,2.44,60.99z"/><path style="fill:rgb(192, 203, 214);" d="M39.96,36.25c-9.99-0.02-18.09-8.16-18.07-18.18C21.9,8.08,30.04-0.01,40.06,0c9.98,0.01,18.09,8.17,18.07,18.18C58.12,28.17,49.97,36.27,39.96,36.25z"/></svg>');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center bottom;
  flex-shrink: 0;
  border: 1px solid #ccc;
  cursor: pointer;
}
main section#message_board > div .message_list .message_item .user_mes_warp {
  width: 100%;
}
main section#message_board > div .message_list .message_item .user_mes_warp p {
  margin: 1rem;
  font-weight: bolder;
}
main section#message_board > div .message_list .message_item .user_mes_warp p span {
  cursor: pointer;
}
main section#message_board > div .message_list .message_item .user_mes_warp .user_mes {
  margin-left: 1rem;
  line-height: 1.5rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  word-break: break-all;
  resize: none;
}
main section#message_board > div .message_list .message_item .user_mes_warp #user_mes_div {
  padding-right: 40px;
  min-height: 2.5rem;
}
main section#message_board > div .message_list .message_item .user_mes_warp #user_mes_div.disable::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  cursor: not-allowed;
}
main section#message_board > div .message_list .message_item .user_mes_warp #submit_mes_btn {
  width: 25px;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: #000;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path style="fill:rgb(150,150,150)" d="M62.7,52.8c-4.1-5.4-8.2-10.8-12.2-16.2L47.1,32l13-17.4c0.9-1.2,1.8-2.4,2.7-3.6c1.1-1.5,1.5-3.4,0.9-5.1c-0.6-1.7-1.9-3-3.6-3.6c-2.1-0.7-3.8,0.1-4.4,0.4c-17.3,8-34.7,16-52,24c-1.9,0.8-3.1,2.2-3.6,4L0,31.2v1.6l0.2,0.4c0.4,1.8,1.7,3.2,3.6,4.1c11.8,5.5,23.6,10.9,35.4,16.4l9.1,4.2c2.6,1.1,5.1,2.3,7.7,3.5c0.8,0.4,1.7,0.6,2.5,0.6c0.9,0,1.8-0.3,2.5-0.7c1.6-0.8,2.6-2.3,2.9-4.1C64.2,55.7,63.8,54.2,62.7,52.8z"/></svg>');
}
main section#message_board > div .message_list .message_item .delete_btn {
  display: block;
  width: 25px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  background: url("../../images/delete.svg");
  z-index: 1;
}
main section#reset_password {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
main section#reset_password #reset_password_form_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(190, 190, 190, 0.7058823529);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
main section#reset_password form {
  left: 50%;
  transform: translate(-50%, -50%);
}
main section#edit_account {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
main section#edit_account #edit_account_form_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(190, 190, 190, 0.7058823529);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
main section#edit_account form {
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=index.css.map */